* { /* reset */
    
    padding: 0;
    margin: 0;
    font-size: 100%;
    
}


body {
   padding-bottom: 50px;
   font-size: 17px;
   font-family: "acta-display", serif;
   font-weight: 300;
   font-style: normal;
   background-color: white;
   color: #122027;
}

div.content1, div.content1-end {
    margin: auto;
/*    margin-bottom: 120px;*/
    margin-bottom: 200px;
   text-align: left;
   width: 600px;
}


div.content1-end {

    margin-bottom: 60px;


}

section.severe-winters {
    
    margin-top: 120px;

  
}


header {
    
    background-color: black;
    background-image: url(../images/New-Zealand-physical-map.jpg);

}


header img.opening-title {
    
    display: block;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
/*    background: rgba(0, 0, 0, 0.5);*/
    width: 600px;

    
}

header .opening-title-opacity-background {
    
    background: rgba(0, 0, 0, 0.6);
    
}




footer {
    
    color: #666;
    margin: 60px;
    margin-bottom: 0;
    opacity: 0.6;
    font-size: 14px;
    line-height: 1.5;
    
}





figure {
    
    text-align: center;
    padding: 200px 0; /* was 60 changed to match content1 div balance spacing then changed to 200px to match table & new spacing */
    margin: 0;
    background-color: black;
  
    
}


figure img  {
    
    width: 450px;
 
}


figure.wing-span-intro {
    
    background-color: white; 
    padding: 60px 0;
    
    
}

figure.wing-span-intro img {
    
    width: 300px; /* keep or delete? */
    
}


figure.wing-span, figure.bird-bottom {
    
        background-color: white; 
    padding: 0;
      
    
}



figure.bird-bottom img {
    
    width: 350px;  /*keep or? */
    
    
}


figure.wing-span img.footspan {
    
    
    position: relative;
    bottom: -100px;
    left: 310px;
    
}


figure.bird-bottom img.bird-bottom-right {
    
    position: relative;
    bottom: -65px; /* used to be top: 50px; then -100 bottom but changed due to new h2 font size */
    left: 310px;
/*    width: 300px;*/
    
  
}


figure.bird-bottom img.bird-bottom-left {
    
    
            position: relative;
/*    top: 110px;*/
    bottom: -100px;
    left: -310px;
    
    
    
}


figure.bird-bottom img.bird-bottom-right, figure.bird-bottom img.bird-bottom-left {
    
        margin-top: 50px; /* was 80px */
    
}




figcaption {
    
    padding-top: 30px;
    color: white;
    
}



aside {
    
    background-color: black;
    color: white;
    padding: 120px 0;
    padding-bottom: 90px; /* because added cite at bottom */

    
}


div.aside-content /* same centered style as other content */ {
    
    margin: 0 auto;
   text-align: left;
   width: 600px;
    
}

div.aside-content h3 {
    
    font-size: 2.5em;
    margin-bottom: 50px;
    font-weight: 200;
    
}


aside cite {
    
    font-size: 0.7em;
    padding-top: 20px;
    display: block;
}

h1 {
   font-size: 68px;
   line-height: 75px;
   margin: 0px 0px 0.37em 0px;

}

h2 {
   font-size: 42px;
   line-height: 50px;
   margin: 0px 0px 0.5em 0px;

}

h3 {
   font-size: 2em;
   line-height: 50px;
   margin: 0px 0px 0.5em 0px;
   text-align: center; /* might change */
   margin: 35px 0; /* same as author bit */

}


h1, h2, h3 {
    
       font-weight: 400;
}

p {
/*   margin: 0px 0px 1.563em 0px;*/
    margin-bottom: 30px;
   font-size: 20px;
   line-height: 30px;
}


blockquote {
   font-size: 26px;
   line-height: 37px;
/*   margin-bottom: 25px;*/
    margin: 60px 0; /* was 35px 0 */
/*    border-left: 3px solid #ccc;*/
    border-left: 3px solid black;
    padding: 0em 0em 0em 0.7em;
}

blockquote footer {
    
        margin: 10px 0;
        text-align: right;
        color: black;
        opacity: 1;
    
}



p.quote {
   font-size: 23px;
   line-height: 1.5em;
   font-style: normal;
   margin: 0px;

}


p.intro-paragraph {
   text-align: center;
   font-size: 27px;
   line-height: 39px;
   margin: 35px 0; /* was 1.2em top and bottom*/
    margin-top: 120px;
   padding: 27px;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   border-color: black;
}


p.author-byline {
   text-align: center;
   font-size: 16px;
   line-height: 20px;
   margin-bottom: 35px;
}




span.dropcap {
   float: left;
   color: #122027;
   font-size: 89px;
   line-height: 60px;
   padding: 8px 5px 0px 3px;
}

aside span.dropcap {
    
    color: white;
    
}

/* check out no 9 table with image and hovers

https://www.smashingmagazine.com/2008/08/top-10-css-table-designs/#9-table-background  */


table {
    
/*    border: 1px solid black;*/
    margin: auto;
    padding: 35px;
    width: 600px; /* was 450 */
    border-collapse: collapse;
    color: white;
    
}

table.fast-facts {
    
    margin: 60px 0;
    
    
}


table.fast-facts td {
    
        border-bottom: 1px solid #ccc; 
    
}



table caption {
    
    padding: 35px;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 200;
/*
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; 
*/
}

div.bird-table {
    
    background-color: black;
    padding: 200px 0; /* was 120px 0; */
    
}

div.bird-table td {
    
        border-bottom: 1px solid #ccc; 
    
}


th {
    
    text-align: center;
    padding: 12px;
    border: 1px solid #ccc;
/*    border-top: none;*/
    font-weight: 500;
    font-size: 1.1em;
    
}

td {
    
        border: 1px solid #ccc;
        text-align: center;
    padding: 20px; /* was 10 */
    
}


tr:hover {
    
    background-color: white;
    color: black;
    
    
}



                /* MAP */


                #map-wrapper {
                    
                    width: 100%;
                    background-color: black;
                    padding: 200px 0;
                    
                }
                
              #map {
        /*        width: 642px;*/
                width: 100%;
                height: 500px; /*  was 443 */
        /*        margin: auto;*/
              }
                
                #firstHeading {
                    
                    font-size: 3em;
                    font-weight: 200;
                    
                }

            #content {

                font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
                font-weight: 200;

            }

            b {

                font-weight: 500;

            }



/* GOOGLE CHART */

#chart-container {
    
    background-color: black;
    padding: 200px 0;
    
}

#chart_div {
    
    width: 500px;
    margin: auto; /* not working */
    display: block;


}



/* tooltip style help http://jsfiddle.net/nyNAg/66/ */

/*
div.google-visualization-tooltip { 
    
    padding: 5px;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200;
    font-size: 2em;
    
    
}*/
